{% load static%} <!- Para evitar o DRY ('Don't repeat yourself' que seria repetir código), é criado o base.html onde é colocado os elementos repetidos das páginas HTMLs ->
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alura Space</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/style.css'%}">

</head>

<body>
    {% block content %}{% endblock %} <!- Para inserir o conteúdo HTML de outros arquivos que vai usar o base.html, usa-se as palavras-chaves blcok ->
</body>
</html>